/* Checkout Steps */

@media screen and (min-width: 480px) {
  .checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px auto;
  }
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
  }
  .checkout-steps > div.active {
    border-top: 0.3rem #a7249a solid;
    color: #a7249a;
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px auto;
  }
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
    padding-left: 18px;
    font-size: 13px;
    font-weight: bold;
  }
  .checkout-steps > div.active {
    border-top: 0.3rem #a7249a solid;
    color: #a7249a;
    padding-left: 10px;
  }
}
